.content-pic {
	display: flex;
	list-style: none;
        text-align: center;
	justify-content: space-evenly;
}
.content-pic1{
	cursor: pointer;
	margin: 0 10px 0 0;
}
.content-pic2{
	cursor: pointer;
}
.content-pic3{
	cursor: pointer;
	margin: 0 0 0 10px;
}
.test2 img {
    margin-top: 50px;
}
.test2 {
    text-align: center;
    display: block;
}
